*{
    box-sizing: border-box;
}

.message {
    margin: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgb(114, 114, 114);
    background-color: seashell;
}

#editForm{
    z-index: 1000;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-start;
}

.active {
    color: red;
    border: none;
}

.likeButton {
    position: absolute;
    right: 23%;
    padding-bottom: 20px;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
    margin: 10px;
}

.likeButton:focus {
    outline: none;
}

.mutationForm {
    position: absolute;
    right: 23%;
    align-self: flex-start;
    justify-content: flex-end;
    display: inline-block;
    margin: 10px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: smaller;
    color: #888
}

.mutationForm button:hover {
    color: #666;
} 

.mutationForm button:focus {
    outline: none;
}

#editForm input{
    border-radius: 6px;
    margin: 10px;
}
#editForm input:focus {
    outline: none;
}
