@import url(//db.onlinewebfonts.com/c/3b2646a48566403a55f62ceddbecbe18?family=Hiragino+Sans+GB);

.header{
    background-color: rgb(246, 255, 248);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgb(114, 114, 114);
}

.title {
    padding: 10px;
    font-family: "Hiragino Sans GB";
    font-weight: bold;
    font-size: large;
    align-self: center;
    justify-self: center;
}

.date {
    margin: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    font-style: italic;
}

