*{
    box-sizing: border-box;
}

.messageInput {
    display: box;
    position: fixed;
    bottom: 0;
    /* background-color: rgba(0, 119, 0, 0.2); */
    width: 60%
    
}

.messageInput input {
    height: 100px;
    width: 100%;
    border-radius: 30px;
}

.messageInput button {
    border-radius: 30px;
    border: none;
    margin: 5px;
    height: 30px;
    width: 60px;
    background-color: rgb(120, 136, 91);
    color: rgb(235, 255, 236);
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}

.messageInput button:hover {
    background-color: rgb(97, 112, 69);
}

.messageInput input:focus {
    outline: none;
}
